$lightBlueColor: #eff3ff;

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: white;

  &:hover {
    background: $lightBlueColor;
  }

  .leftSection {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .title {
      color: #575757;
    }

    .icon {
      margin-left: 5px;
    }
  }

  &.selected {
    background: $lightBlueColor;

    .title {
      color: #1746be;
    }
  }

  .selectedIcon {
    width: 30px;
    display: flex;
    justify-content: right;
    flex-shrink: 0;
  }
}
